<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TisimuApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_hymn_book"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_hymn_book"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tisimu"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activities.MainActivity"/>
        <activity
            android:name=".ui.activities.AgendaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CommunityDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CommunitySelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SongDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SongListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HymnalSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Tisimu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false" /> <!-- For emulator testing -->
        <uses-library
            android:name="android.test.runner"
            android:required="false" />

        <meta-data
            android:name="firebase_emulator_url"
            android:value="http://10.0.2.2:8080" /> <!-- Add meta-data for Google Sign-In (optional but recommended) -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>